<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <br>
   <p>On Twitter:</p> <a href= <%=twitter%> >@EwuruFortune</a>
<%- include("partials/footer"); -%>
